* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}


/*Nav*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul {
    display: flex;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}


/* menu mobile  */

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}


/* shop now button  */

span.btns {
    display: inline-flex;
    padding: 10px 0px;
}

a.btn-six-users {
    padding-right: 30px;
}

a.btn-one-user {
    padding-left: 30px;
}

span.btns {
    padding-top: 20px;
}

.btn-six-users,
.outlook-btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #000000;
    color: #fff;
    font-size: 15px;
}

.btn-one-user {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 600;
    padding: 10px 20px;
    background: transparent;
    color: #000000;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}


/* Showcase  */

.p-description {
    text-align: left;
    width: 500px;
}

.showcase {
    width: 100%;
    height: 500px;
    background: url('./images/showcase.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 10% 5%;
    margin-bottom: 20px;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}


/* Cards grid  */

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-cards h3 {
    margin-bottom: 5px;
}

.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}

.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
}

.home-cards a:hover i {
    margin-left: 10px;
    transition: all .4s ease;
}

.outlook {
    width: 100%;
    height: 500px;
    background: url('./images/outlook.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 15% 5%;
}

.outlook h2 {
    font-size: 34px !important;
}

section .outlook {
    margin-top: 5%;
}

.outlook * {
    margin: 4px;
}

.title-h3 {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    bottom: 0;
}

.follow {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}

.follow * {
    margin-right: 10px;
}


/* links  */

.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
}


/* footer  */

.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}

.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

footer div i {
    margin-right: 10px;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}


/* media Queries  */

@media(max-width:1024px) {
    .container {
        width: 100%;
    }
    .main-nav {
        margin: auto 20px;
    }
    .showcase {
        background-size: contain;
        background-position: 100%;
        height: auto;
    }
    .showcase h2,
    .showcase p,
    .showcase span {
        width: 50%;
    }
    span.btns {
        display: grid;
        width: 170px;
    }
    .home-cards {
        margin: auto 20px;
    }
    .title-h3,
    .follow {
        margin-left: 20px;
    }
    .showcase p {
        width: 60%;
    }
    .outlook h2 {
        width: 35vw;
    }
    .outlook * {
        text-align: left;
        justify-items: left;
    }
}

@media(max-width: 700px) {
    .menu-btn {
        display: block;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .main-nav ul.right-menu {
        margin-right: 50px;
    }
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }
    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .showcase,
    .outlook {
        padding: 40px;
        justify-content: center;
    }
    .showcase p {
        width: 60%;
    }
    .outlook h2 {
        width: 35vw;
    }
    .outlook * {
        text-align: left;
        justify-items: left;
    }
    .links .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:500px) {
    .showcase {
        width: 100%;
        height: 500px;
        background: url('./images/showcase.png') no-repeat center center/cover;
        background-size: 800px;
        background-position-y: -30px;
        background-position-x: -300px;
        background-color: #E6E6E6;
        object-fit: cover;
    }
    .showcase h2,
    .showcase p {
        text-align: center;
        width: 100%;
        top: 30%;
    }
    span.btns {
        display: inline-flex;
        justify-items: flex-start;
        width: 350px;
        top: 30%;
    }
    .showcase * {
        position: relative;
    }
    .home-cards {
        grid-template-columns: 1fr;
    }
    .links .links-inner {
        grid-template-columns: 1fr;
    }
    .links .links-innwe ul {
        margin-bottom: 20px;
    }
    .outlook {
        width: 100%;
        height: 600px;
        background: url('./images/outlook.jpg') no-repeat center center/contain;
        background-size: 900px;
        background-position-x: -400px;
        background-position-y: 30px;
        background-color: #E6E6E6;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .outlook h2,
    .outlook p,
    .outlook a {
        display: grid;
        justify-items: center;
        position: relative;
        top: 35%;
    }
    .outlook h2 {
        width: 100% !important;
        text-align: center;
    }
}