* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}


/*Nav*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul {
    display: flex;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}


/* shop now button  */

span.btns {
    display: inline-flex;
    padding: 10px 0px;
}

a.btn-six-users {
    padding-right: 30px;
}

a.btn-one-user {
    padding-left: 30px;
}

span.btns {
    padding-top: 20px;
}

.btn-six-users,
.outlook-btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #000000;
    color: #fff;
    font-size: 15px;
}

.btn-one-user {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 600;
    padding: 10px 20px;
    background: transparent;
    color: #000000;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}


/* Showcase  */

.p-description {
    text-align: left;
    width: 500px;
}

.showcase {
    width: 100%;
    height: 500px;
    background: url('./images/showcase.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 10% 5%;
    margin-bottom: 20px;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}


/* Cards grid  */

.home-cards {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin-bottom: 70px;
    margin-top: 50px;
}

.home-cards h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}

.home-cards img {
    background-size: contain;
    width: 360px;
    height: auto;
}

.home-cards a {
    color: #005DA6;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    top: 15px;
}

.home-cards a:hover {
    border-bottom: 2px solid #005DA6;
}

.home-cards a:hover i {
    padding-left: 8px;
    transition: all .4s ease;
}

.home-cards p {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
}

.home-cards h3,
.home-cards p {
    padding-right: 18%;
}

.outlook {
    width: 100%;
    height: 500px;
    background: url('./images/outlook.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 15% 5%;
}

.outlook h2 {
    font-size: 34px !important;
}

section .outlook {
    margin-top: 5%;
}

.outlook * {
    margin: 4px;
}

.title-h3 {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    bottom: 0;
    top: 40px;
}

.follow {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}

.follow * {
    margin-right: 10px;
}