* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


/*Nav*/

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 110px;
}

.main-nav ul li {
    padding: 0 10px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul {
    display: flex;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}


/* shop now button  */

span.btns {
    display: inline-flex;
    padding: 10px 0px;
}

a.btn-six-users {
    padding-right: 30px;
}

a.btn-one-user {
    padding-left: 30px;
}

span.btns {
    padding-top: 20px;
}

.btn-six-users {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #000000;
    color: #fff;
    font-size: 15px;
}

.btn-one-user {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 600;
    padding: 10px 20px;
    background: transparent;
    color: #000000;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}


/* Showcase  */

.p-description {
    text-align: left;
    width: 500px;
}

.showcase {
    width: 100%;
    height: 400px;
    background: url('./images/showcase.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 10% 5%;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}